/* For background color. 90% */
.adventureGame {
	background-color: #ffd6cc;
}

/* For h2 color. 15% */
.adventureGame_h2 {
	color: #4d0f00;
}

/* For h3 color. 25% */
.adventureGame_h3 {
	color: #801a00;
}

/* For p color. */
.adventureGame_p {
	color: #0d0d0d;
}

/* For weather journal app button & hover 15%/40%*/
.adventureGameButton {
	color: #4d0f00;
	background-color: #cc2900;
}

/* 70%/25% */
.adventureGameButton:hover {
	color: #ff8566;
	background-color: #801a00;
}