/* Styling for the FA social media icons. */

.fa {
	padding: 30px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	color: #1776b5;
}

.fa:hover {
	color: #78bced;
	transition: 0.5s ease;
}

.fab {
	width: 100px;
	font-size: 50px;
	padding: 10px;
	transition: 0.3s ease;
}

/* Individual Icons. */

.fa-github-icon {

}

.fa-html5 {
	
}

.fa-css3-alt {
	
}

.fa-js {
	
}

.fa-node {
	
}

.fa-react {
	
}

.fa-npm {
	
}

.fa-wordpress-simple {
	
}

/* Hover effects. */

.fa-github:hover {
	color: #78bced;
}

.fa-html5:hover {
	color: #f06529;
}

.fa-css3-alt:hover {
	color: #264de4;
}

.fa-js:hover {
	color: #F0DB4F;
}

.fa-node:hover {
	color: #3c873a;
}

.fa-react:hover {
	color: #61DBFB;
}

.fa-npm:hover {
	color: #CC3534;
}

.fa-wordpress-simple:hover {
	color: #21759b;
}

/* Styling for the facebook icon. */

/*
.fa-facebook {
	color: #092b43;
}

.fa-facebook:hover {
	color: #78bced;
	background: #0f4c75;
	transition: 0.5s ease;
}
*/

/* Styling for the github icon. */

/*
.fa-github {
	color: #092b43;
}

.fa-github:hover {
	color: #78bced;
	background: #0f4c75;
	transition: 0.5s ease;
}
*/

/* Styling for the instagram icon. */

/*
.fa-instagram {
	color: #092b43;
}

.fa-instagram:hover {
	color: #78bced;
	background: #0f4c75;
	transition: 0.5s ease;
}
*/

/* Styling for the linkedin icon. */

/*
.fa-linkedin {
	color: #092b43;
}

.fa-linkedin:hover {
	color: #78bced;
	background: #0f4c75;
	transition: 0.5s ease;
}
*/

/* Styling for the twitter icon. */

/*

.fa-twitter {
	color: #092b43;
}

.fa-twitter:hover {
	color: #78bced;
	background: #0f4c75;
	transition: 0.5s ease;
}
*/