/* For background color. */
.hotBeatz {
	background-color: #d2e9f9;
}

/* For h2 color. */
.hotBeatz_h2 {
	color: #092b43;
}

/* For h3 color. */
.hotBeatz_h3 {
	color: #0f4c75;
}

/* For p color. */
.hotBeatz_p {
	color: #0d0d0d;
}

/* For weather journal app button & hover */
.hotBeatzButton {
	color: #092b43;
	background-color: #1776b5;
}

.hotBeatzButton:hover {
	color: #78bced;
	background-color: #0f4c75;
}