/* For background color. 90% */
.landingPage {
	background-color: #ffebcc;
}

/* For h2 color. 05% */
.landingPage_h2 {
	color: #1a0f00;
}

/* For h3 color. 25% */
.landingPage_h3 {
	color: #804d00;
}

/* For p color. 05% grey */
.landingPage_p {
	color: #0d0d0d;
}

/* For weather journal app button & hover. color 05% back 40% */
.landingPageButton {
	color: #1a0f00;
	background-color: #cc7a00;
}

/* hover color 70% hvr background 25% */
.landingPageButton:hover {
	color: #ffc266;
	background-color: #804d00;
}